@import "./actiontext.scss";

body {
  background: grey;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  margin-bottom: 50px;
}

main {
  flex: 1 0 auto;
}

footer {
  margin-top: 50px;
}
